@font-face {
  font-family: "trilium-icon-pack-electronic-symbols";
  src: url("electronic-symbols-stroke-outline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.electronic-symbols {
  font-family: "trilium-icon-pack-electronic-symbols" !important;
}
.electronic-symbols.electronic-symbols-antenna-com-loop::before { content: "\f700"; }
.electronic-symbols.electronic-symbols-antenna-com-dipole::before { content: "\f701"; }
.electronic-symbols.electronic-symbols-antenna-com-aerial::before { content: "\f702"; }
.electronic-symbols.electronic-symbols-audio-ieee-microphone::before { content: "\f703"; }
.electronic-symbols.electronic-symbols-audio-iec-microphone::before { content: "\f704"; }
.electronic-symbols.electronic-symbols-audio-com-loudspeaker::before { content: "\f705"; }
.electronic-symbols.electronic-symbols-audio-com-buzzer::before { content: "\f706"; }
.electronic-symbols.electronic-symbols-capacitor-ieee-nonpolarized::before { content: "\f707"; }
.electronic-symbols.electronic-symbols-capacitor-ieee-polarized::before { content: "\f708"; }
.electronic-symbols.electronic-symbols-capacitor-iec-nonpolarized::before { content: "\f709"; }
.electronic-symbols.electronic-symbols-capacitor-iec-variable::before { content: "\f70a"; }
.electronic-symbols.electronic-symbols-capacitor-iec-trimmer::before { content: "\f70b"; }
.electronic-symbols.electronic-symbols-capacitor-iec-polarized::before { content: "\f70c"; }
.electronic-symbols.electronic-symbols-capacitor-com-feedthrough::before { content: "\f70d"; }
.electronic-symbols.electronic-symbols-diode-com-zener::before { content: "\f70e"; }
.electronic-symbols.electronic-symbols-diode-com-varicap::before { content: "\f70f"; }
.electronic-symbols.electronic-symbols-diode-com-tunnel::before { content: "\f710"; }
.electronic-symbols.electronic-symbols-diode-com-shottky::before { content: "\f711"; }
.electronic-symbols.electronic-symbols-diode-com-shockley::before { content: "\f712"; }
.electronic-symbols.electronic-symbols-diode-com-photodiode::before { content: "\f713"; }
.electronic-symbols.electronic-symbols-diode-com-led::before { content: "\f714"; }
.electronic-symbols.electronic-symbols-diode-com-laser::before { content: "\f715"; }
.electronic-symbols.electronic-symbols-diode-com-standard::before { content: "\f716"; }
.electronic-symbols.electronic-symbols-fuse-ieee-alt::before { content: "\f717"; }
.electronic-symbols.electronic-symbols-fuse-iec::before { content: "\f718"; }
.electronic-symbols.electronic-symbols-fuse-ieee::before { content: "\f719"; }
.electronic-symbols.electronic-symbols-ground-com-signal::before { content: "\f71a"; }
.electronic-symbols.electronic-symbols-ground-com-general::before { content: "\f71b"; }
.electronic-symbols.electronic-symbols-ground-com-chassis::before { content: "\f71c"; }
.electronic-symbols.electronic-symbols-ic-com-schmitt::before { content: "\f71d"; }
.electronic-symbols.electronic-symbols-ic-com-schmitt-inverted::before { content: "\f71e"; }
.electronic-symbols.electronic-symbols-ic-com-opamp::before { content: "\f71f"; }
.electronic-symbols.electronic-symbols-ic-com-comparator::before { content: "\f720"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-clockedd::before { content: "\f721"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-clockedjk::before { content: "\f722"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-clockedt::before { content: "\f723"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-gatedd::before { content: "\f724"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-gatedsr::before { content: "\f725"; }
.electronic-symbols.electronic-symbols-ic-com-flipflop-simplesr::before { content: "\f726"; }
.electronic-symbols.electronic-symbols-ic-com-logic-buffer::before { content: "\f727"; }
.electronic-symbols.electronic-symbols-ic-com-logic-inverter::before { content: "\f728"; }
.electronic-symbols.electronic-symbols-ic-com-logic-and::before { content: "\f729"; }
.electronic-symbols.electronic-symbols-ic-com-logic-nand::before { content: "\f72a"; }
.electronic-symbols.electronic-symbols-ic-com-logic-nor::before { content: "\f72b"; }
.electronic-symbols.electronic-symbols-ic-com-logic-or::before { content: "\f72c"; }
.electronic-symbols.electronic-symbols-ic-com-logic-xnor::before { content: "\f72d"; }
.electronic-symbols.electronic-symbols-ic-com-logic-xor::before { content: "\f72e"; }
.electronic-symbols.electronic-symbols-inductor-com-variable::before { content: "\f72f"; }
.electronic-symbols.electronic-symbols-inductor-com-tapped::before { content: "\f730"; }
.electronic-symbols.electronic-symbols-inductor-com-magnetic::before { content: "\f731"; }
.electronic-symbols.electronic-symbols-inductor-com-ferrite-bead::before { content: "\f732"; }
.electronic-symbols.electronic-symbols-inductor-com-air::before { content: "\f733"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-probe_point::before { content: "\f734"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-optocoupler::before { content: "\f735"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-lamp-indicator::before { content: "\f736"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-lamp-incandescent::before { content: "\f737"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-dac::before { content: "\f738"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-crystal_oscillator::before { content: "\f739"; }
.electronic-symbols.electronic-symbols-miscellaneous-com-adc::before { content: "\f73a"; }
.electronic-symbols.electronic-symbols-relay-ieee-spst-no::before { content: "\f73b"; }
.electronic-symbols.electronic-symbols-relay-ieee-spst-nc::before { content: "\f73c"; }
.electronic-symbols.electronic-symbols-relay-ieee-spdt::before { content: "\f73d"; }
.electronic-symbols.electronic-symbols-relay-iec-spst-no::before { content: "\f73e"; }
.electronic-symbols.electronic-symbols-relay-iec-spst-nc::before { content: "\f73f"; }
.electronic-symbols.electronic-symbols-relay-iec-spdt::before { content: "\f740"; }
.electronic-symbols.electronic-symbols-relay-com-com-spst-no::before { content: "\f741"; }
.electronic-symbols.electronic-symbols-relay-com-com-spst-nc::before { content: "\f742"; }
.electronic-symbols.electronic-symbols-relay-com-com-spdt::before { content: "\f743"; }
.electronic-symbols.electronic-symbols-resistor-com-memristor::before { content: "\f744"; }
.electronic-symbols.electronic-symbols-resistor-ieee-standard::before { content: "\f745"; }
.electronic-symbols.electronic-symbols-resistor-ieee-varistor::before { content: "\f746"; }
.electronic-symbols.electronic-symbols-resistor-ieee-trimmer::before { content: "\f747"; }
.electronic-symbols.electronic-symbols-resistor-ieee-thermistor::before { content: "\f748"; }
.electronic-symbols.electronic-symbols-resistor-ieee-rheostat::before { content: "\f749"; }
.electronic-symbols.electronic-symbols-resistor-ieee-potentiometer::before { content: "\f74a"; }
.electronic-symbols.electronic-symbols-resistor-ieee-photoresistor::before { content: "\f74b"; }
.electronic-symbols.electronic-symbols-resistor-iec-standard::before { content: "\f74c"; }
.electronic-symbols.electronic-symbols-resistor-iec-varistor::before { content: "\f74d"; }
.electronic-symbols.electronic-symbols-resistor-iec-trimmer::before { content: "\f74e"; }
.electronic-symbols.electronic-symbols-resistor-iec-thermistor::before { content: "\f74f"; }
.electronic-symbols.electronic-symbols-resistor-iec-rheostat::before { content: "\f750"; }
.electronic-symbols.electronic-symbols-resistor-iec-potentiometer::before { content: "\f751"; }
.electronic-symbols.electronic-symbols-resistor-iec-photoresistor::before { content: "\f752"; }
.electronic-symbols.electronic-symbols-source-com-photovoltaic::before { content: "\f753"; }
.electronic-symbols.electronic-symbols-source-com-dc::before { content: "\f754"; }
.electronic-symbols.electronic-symbols-source-com-dc-controlled::before { content: "\f755"; }
.electronic-symbols.electronic-symbols-source-com-current::before { content: "\f756"; }
.electronic-symbols.electronic-symbols-source-com-current-controlled::before { content: "\f757"; }
.electronic-symbols.electronic-symbols-source-com-battery-single::before { content: "\f758"; }
.electronic-symbols.electronic-symbols-source-com-battery-multiple::before { content: "\f759"; }
.electronic-symbols.electronic-symbols-source-com-ac::before { content: "\f75a"; }
.electronic-symbols.electronic-symbols-source-com-square::before { content: "\f75b"; }
.electronic-symbols.electronic-symbols-source-com-triangle::before { content: "\f75c"; }
.electronic-symbols.electronic-symbols-switch-com-spst::before { content: "\f75d"; }
.electronic-symbols.electronic-symbols-switch-com-spdt::before { content: "\f75e"; }
.electronic-symbols.electronic-symbols-switch-com-dpst::before { content: "\f75f"; }
.electronic-symbols.electronic-symbols-switch-com-dpdt::before { content: "\f760"; }
.electronic-symbols.electronic-symbols-switch-com-pushbutton-nc::before { content: "\f761"; }
.electronic-symbols.electronic-symbols-switch-com-pushbutton-no::before { content: "\f762"; }
.electronic-symbols.electronic-symbols-switch-com-pushbutton-two_circuit::before { content: "\f763"; }
.electronic-symbols.electronic-symbols-transformer-com-center::before { content: "\f764"; }
.electronic-symbols.electronic-symbols-transformer-com-center-double::before { content: "\f765"; }
.electronic-symbols.electronic-symbols-transformer-com-standard::before { content: "\f766"; }
.electronic-symbols.electronic-symbols-transistor-com-phototransitor::before { content: "\f767"; }
.electronic-symbols.electronic-symbols-transistor-com-jfet-p::before { content: "\f768"; }
.electronic-symbols.electronic-symbols-transistor-com-jfet-n::before { content: "\f769"; }
.electronic-symbols.electronic-symbols-transistor-com-darlington-pnp::before { content: "\f76a"; }
.electronic-symbols.electronic-symbols-transistor-com-darlington-npn::before { content: "\f76b"; }
.electronic-symbols.electronic-symbols-transistor-com-bjt-pnp::before { content: "\f76c"; }
.electronic-symbols.electronic-symbols-transistor-com-bjt-npn::before { content: "\f76d"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-n::before { content: "\f76e"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-n-depletion::before { content: "\f76f"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-n-enhancement::before { content: "\f770"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-p::before { content: "\f771"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-p-depletion::before { content: "\f772"; }
.electronic-symbols.electronic-symbols-transistor-com-mosfet-p-enhancement::before { content: "\f773"; }
